%footer-anchor {
  a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 22px;
  }
}

%std-button {
  display: inline-block;
  // justify-content: center;
  // align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 12.5px 20px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

// copied from netmatters - input elements in focus
%input-focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

// card shadow / border

%card-shadow-border {
  border: 1px solid #ccc;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

// flex horizontal / vertical center - row

%flex-h-v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// flex horizontal / vertical center - column

%flex-h-v-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// reset ul
%reset-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// reset anchor

%reset-anchor-text {
  text-decoration: none;
  color: white;
}

// top nav search input

%top-nav-search-input {
  font-weight: inherit;
  font-size: 14px;
  padding: 5px 0;
  background-color: transparent;
  color: #555;
  border: none;
  width: 100%;
}

//top nav search button

%top-nav-search-btn {
  background-color: $topnav-search-btn;
  padding: 19px 20px;
  border: none;
  border-radius: 0 3px 3px 0;
  &:hover {
    background-color: $gunsmoke;
    cursor: pointer;
  }
}

// slider container

%slider-container {
  overflow-x: hidden;
  display: flex;
  justify-content: start;
}

// slider items

%slider-li {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

// slider images

%slider-images {
  display: inline-block;
  max-height: 70px;
  padding: 0 20px;
  filter: grayscale(80);
  &:hover {
    filter: grayscale(0);
  }
}
