// variables

//colors
$tealish-blue: #323544;
$ebony-clay: #212330;
$denim: #3b5998;
$french-blue: #0077b5;
$cerulean: #00aced;
$pink-lemonade: #d93175;

$main-footer-background: $tealish-blue;
$bottom-footer-background: $ebony-clay;

$btn-bottom-footer: $ebony-clay;
$btn-bottom-facebook-hover: $denim;
$btn-bottom-linkedin-hover: $french-blue;
$btn-bottom-twitter-hover: $cerulean;
$btn-bottom-insta-hover: $pink-lemonade;

// font weight
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Font import

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap");

// layout

$inner-max-width: 1260px;

// Base styles

:root {
  letter-spacing: 0.4px;
  font-family: "Poppins", "sans-serif";
}

.inner-container {
  padding: 0 15px;
}

.footer-links {
  margin-bottom: 30px;
}

.footer-logo {
  width: 250px;
}

.footer-container {
  background-color: $main-footer-background;
}

.inner-footer-container {
  display: flex;
  flex-direction: column;
  max-width: $inner-max-width;
  color: white;
  padding-top: 27px;
  font-size: 13px;
}

.inner-footer-container h4 {
  font-weight: $font-weight-regular;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 17.6px;
  margin-bottom: 0 0 0 26px;
  margin-top: none;
}

.inner-footer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.inner-footer-container a,
.bottom-footer-content a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  line-height: 22px;
}

.inner-footer-container a:hover,
.bottom-footer-content a:hover {
  text-decoration: underline;
}

.bottom-footer-container {
  background-color: $bottom-footer-background;
}

.bottom-footer-content {
  display: flex;
  flex-direction: column;
  max-width: $inner-max-width;
  color: white;
  font-size: 13px;
  line-height: 22px;
  padding: 10px 15px;
}

.social-links-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  // max-width: 320px;
}

.social-link a {
  display: block;
  margin-right: 10px;
  padding: 12px 22px 16px;
  background-color: $ebony-clay;
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
  line-height: 26px;
}

.social-link {
  flex: 0 20px;
}

// state changes

a:has(i.fa-facebook-f):hover {
  background-color: $btn-bottom-facebook-hover;
}

a:has(i.fa-linkedin-in):hover {
  background-color: $btn-bottom-linkedin-hover;
}

a:has(i.fa-twitter):hover {
  background-color: $btn-bottom-twitter-hover;
}

a:has(i.fa-instagram):hover {
  background-color: $btn-bottom-insta-hover;
}

@media screen and (min-width: 480px) {
  .footer-logo {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .inner-container,
  .bottom-footer-content {
    max-width: 720px;
    margin: 0 auto;
  }

  .bottom-footer-content {
    padding-left: 15px;
    flex-direction: row;
    gap: 10px;
  }

  .bottom-footer-content a::before {
    content: " - ";
  }

  .footer-link-container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-links {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .inner-container,
  .bottom-footer-content {
    max-width: 970px;
  }

  .footer-links {
    width: 25%;
  }
}

@media screen and (min-width: 1260px) {
  .inner-container,
  .bottom-footer-content {
    max-width: 1170px;
  }

  .inner-footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    flex: 1;
    padding: 0px 15px;
    margin-bottom: 40px;
  }
}
