// media query mixin

@mixin mq($breakpoint) {
  @if ($breakpoint == $mq-xs) {
    @media screen and (min-width: $mq-xs) {
      @content;
    }
  } @else if($breakpoint == $mq-s) {
    @media screen and (min-width: $mq-s) {
      @content;
    }
  } @else if($breakpoint == $mq-m) {
    @media screen and (min-width: $mq-m) {
      @content;
    }
  } @else if($breakpoint == $mq-l) {
    @media screen and (min-width: $mq-l) {
      @content;
    }
  } @else {
    @error ('Unknown breakpoint supplied');
  }
}

// top nav logo size
@mixin top-nav-logo-size($width) {
  width: 100%;
  @if ($width == "xs") {
    max-width: 402px;
  } @else if($width == "s") {
    max-width: 345px;
  } @else if($width == "m") {
    max-width: 374px;
  } @else if($width == "l") {
    max-width: 370px;
  } @else {
    @error ('Unknown width supplied');
  }
}
