// media query mixin

@mixin mq($breakpoint) {
  @if ($breakpoint == $mq-xs) {
    @media screen and (min-width: $mq-xs) {
      @content;
    }
  } @else if($breakpoint == $mq-s) {
    @media screen and (min-width: $mq-s) {
      @content;
    }
  } @else if($breakpoint == $mq-m) {
    @media screen and (min-width: $mq-m) {
      @content;
    }
  } @else if($breakpoint == $mq-l) {
    @media screen and (min-width: $mq-l) {
      @content;
    }
  } @else {
    @error ('Unknown breakpoint supplied');
  }
}

// top nav logo size
@mixin top-nav-logo-size($width) {
  width: 100%;
  @if ($width == "xs") {
    max-width: 402px;
  } @else if($width == "s") {
    max-width: 345px;
  } @else if($width == "m") {
    max-width: 374px;
  } @else if($width == "l") {
    max-width: 370px;
  } @else {
    @error ('Unknown width supplied');
  }
}

// top nav hide outline on focus
@mixin input-hide-focus {
  &:focus {
    outline: none;
  }
}

// bottom sub heading - used in services and latest news

@mixin bottom-sub-heading {
  @include mq($mq-s) {
    display: none;
  }
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-weight: $font-weight-semi-bold;

  a {
    font-size: 26px;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    display: inline;
    @include mq($mq-s) {
      display: none;
    }
    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: "\2794";
      font-size: 26px;
      display: inline;
      @include mq($mq-s) {
        display: none;
      }
    }
  }
}

// top sub heading - used in services and latest news

@mixin top-sub-heading {
  display: flex;
  align-items: center;
  font-weight: $font-weight-semi-bold;
  padding: 50px 15px 25px 15px;

  h2 {
    font-size: 36px;
    font-weight: inherit;
    margin: 5px auto 10px 0;
  }

  a {
    font-size: 26px;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    display: none;
    @include mq($mq-s) {
      display: inline;
    }

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: "\2794";
      font-size: 26px;
      display: none;
      @include mq($mq-s) {
        display: inline;
      }
    }
  }
}
