:root {
  letter-spacing: 0.4px;
  font-family: "Poppins", "sans-serif";
  font-size: $base-font-size;
  color: $base-font-color;
}

.inner-container {
  padding: 0 px-to-rem(15px);
  max-width: $inner-max-width;
}
