:root {
  letter-spacing: 0.4px;
  font-family: "Poppins", "sans-serif";
  font-size: $base-font-size;
  color: $base-font-color;
}

// html,
// body,
// .main-container,
// .main-content {
//   height: 100%;
//   position: relative;
// }

// .full-width-container {
//   background-color: white;
// }

.inner-container {
  padding: 0 px-to-rem(15px);
  max-width: $inner-max-width;
}
