:root {
  letter-spacing: 0.4px;
  font-family: "Poppins", "sans-serif";
  font-size: $base-font-size;
  color: $base-font-color;
}

.full-width-container {
  width: 100%;
}

.inner-container {
  // padding: 0 15px;
  padding: px-to-rem(50px) px-to-rem(15px);
  max-width: $inner-max-width;
}
