.contact-page-content {
  background-color: #fff;
  scroll-behavior: smooth;

  // breadcrumb section

  .breadcrumb-outer {
    display: none;
    padding: 15px 0;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

    @include mq($mq-s) {
      display: block;
      margin-bottom: 0;
    }

    @include mq($mq-m) {
      display: block;
      margin-bottom: 50px;
    }
  }

  .breadcrumb-inner a,
  .out-of-hours a {
    color: #333645;
    text-decoration: none;
  }

  .breadcrumb-inner a:hover,
  .out-of-hours a:hover {
    text-decoration: underline;
  }

  .breadcrumb-inner {
    font-size: 13px;

    a {
      font-weight: bold;
    }
  }

  // our offices section

  .offices-wrapper {
    .offices-heading-wrapper {
      background-color: #333645;
      padding: 1.5rem;
      @include mq($mq-m) {
        background-color: #fff;
        padding: 0;
      }
    }

    .offices-heading {
      margin: 0;
      color: #fff;
      font-size: 2.25rem;
      font-weight: 400;
      @include mq($mq-m) {
        color: #333645;
      }
    }

    .offices-cards-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 80px;
      @include mq($mq-m) {
        flex-direction: row;
      }

      img {
        width: 100%;
        height: auto;
      }

      .offices-card {
        display: flex;
        flex-direction: column;
        @include mq($mq-m) {
          flex: 1 1 35%;
        }
      }

      .offices-card-content-wrapper {
        padding: 2rem;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 1.25rem;
          font-weight: 400;
          margin: 0 0 15px;

          a {
            color: #333645;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .office-telephone {
          color: #926fb1;
          font-weight: 700;
          text-decoration: none;
          font-size: 1.625rem;

          &:hover {
            text-decoration: underline;
          }
        }

        .view-more {
          @extend %std-button;
          margin-top: 1rem;
          color: #fff;
          background-color: #926fb1;
          border-color: #926fb1;
          align-self: flex-start;
          &:hover {
            background-color: #7e57a0;
            border-color: #735093;
          }
        }

        address {
          font-style: normal;
          font-size: 0.8125rem;
          line-height: 1.375rem;
          font-weight: 400;
          margin-bottom: 15px;
        }
      }

      .map-wrapper img {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }

      .card-main-content,
      .card-image-wrapper img {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
      }

      .card-main-content {
        box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
      }
    }
  }
  // contact form details

  .contact-wrapper-outer {
    background-color: #fff;
    margin: 2rem 0;
  }

  .contact-wrapper-inner {
    display: flex;
    flex-direction: column;
    font-weight: 600;

    @include mq($mq-l) {
      gap: 2rem;
      flex-direction: row-reverse;
    }
  }

  .contact-details-wrapper {
    @include mq($mq-m) {
      flex: 1;
    }
  }

  .contact-form-wrapper {
    background-color: #e6e7e9;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    @include mq($mq-m) {
      flex: 2;
      align-self: flex-start;
    }
  }

  // conatct details

  .contact-details-wrapper {
    p,
    h4 {
      margin: 0 0 2rem;
      line-height: 1.875rem;
    }

    .contact-details a {
      font-size: 1.625rem;
      color: #926fb1;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .out-of-hours h4 {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .content-container {
      display: none;
      .light-text {
        color: #666;
        font-weight: 400;
      }
    }

    .content-container.show {
      display: block;
    }
  }
  //contact form

  .contact-form {
    @include mq($mq-m) {
      flex-direction: row;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;

      span {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .contact-form-group {
      display: flex;
      flex-direction: column;

      label:not(label[for="company"])::after {
        content: " *";
        color: red;
      }
    }

    .contact-inputs {
      display: flex;
      flex-direction: column;

      @include mq($mq-m) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
      }

      .contact-form-group {
        flex: 1 1 40%;
      }

      .contact-form-group input {
        height: 2rem;
      }

      .contact-form-group input,
      .contact-form-group textarea {
        margin-top: 0.5rem;
        font-size: 14px;
        color: #555;
        border-color: #ccc;
        background-color: #fff;
        background-image: none;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        padding: 5px 15px;

        &:focus {
          border-color: #5bc0de;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
        }

        &.contact-form-error {
          border-color: red;
        }
      }
    }

    &__marketing-container {
      display: flex;
      margin-top: 1rem;
    }

    &__checkbox-container {
      margin-right: 1rem;
    }

    // hide the checkbox input
    &__checkbox--hidden {
      display: none;
      &:checked + .contact-form__checkbox {
        background-color: $newsletter-checkbox-bg;
      }
      &:checked + .contact-form__checkbox::after {
        content: "\2714";
        color: white;
        background-color: $newsletter-checkbox-bg;
        font-size: 20px;
        text-align: center;
        position: absolute;
        left: 5px;
        top: 2px;
      }
    }

    // checkbox 'element' is actually a label

    &__checkbox {
      display: inline-block;
      width: 26px;
      height: 26px;
      border: 3px solid $newsletter-checkbox-border;
      border-radius: 3px;
      position: relative;
    }

    &__marketing-text {
      line-height: 2rem;
    }

    &__privacy-link {
      color: inherit;
    }

    &__btn {
      @extend %std-button;
      border-color: $newsletter-btn-primary;
      background-color: $newsletter-btn-primary;
      outline: none;
      &:hover {
        background-color: $newsletter-btn-hover;
        border-color: $newsletter-btn-hover-border;
        cursor: pointer;
      }
    }
  }
}
