.hidden-header {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  transform: translateY(-100%);
  transition: all 0.5s;

  &.show {
    visibility: visible;
    transform: translateY(0);
  }

  &.menu-open {
    transform: translateX(-275px);
    // overflow: hidden;
  }

  @include mq($mq-m) {
    &.menu-open {
      transform: translateX(-350px);
      // overflow: hidden;
    }
  }
}
