.hero {
  &__content-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 40px 1rem;
    font-weight: $font-weight-semi-bold;
    @include mq($mq-m) {
      text-align: left;
      align-items: start;
      justify-content: start;
      padding: 60px 0;
    }
  }

  &__heading {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: inherit;
    margin-top: 0;
    @include mq($mq-m) {
      line-height: 5rem;
      font-size: 4rem;
      margin-bottom: 20px;
    }
  }
  &__text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 0 6px;
    @include mq($mq-m) {
      font-size: 1.625rem;
      line-height: 2.5rem;
    }
  }

  &__btn {
    @extend %std-button;
    padding: 20px;
    margin: 2rem 0 1.1rem;
    font-weight: $font-weight-regular;
    font-size: 1.25rem;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    // min-height: px-to-rem(600px);
    background-color: rgba($color: #000000, $alpha: 0.4);
    @include mq($mq-m) {
      display: none;
    }
  }

  // background images and button colours for each slide

  &--netmatters-overview {
    background: linear-gradient(270deg, transparent 25%, #000),
      url("../img/hero/netmatters-overview.png") no-repeat center / cover;
    & .hero__btn {
      background-color: $hero-btn-primary;
      &:hover {
        background-color: #7e57a0;
        border-color: #735093;
      }
    }
  }

  &--bespoke-software {
    background: linear-gradient(270deg, transparent 25%, #000),
      url("../img/hero/bespoke-software.webp") no-repeat center / cover;
    & .hero__btn {
      background-color: #67809f;
      border-color: #67809f;
      &:hover {
        background-color: #566c88;
        border-color: #4e627b;
      }
    }
  }
}

.full-width-container--hero {
  position: relative;
  min-height: px-to-rem(550px);
  max-height: px-to-rem(550px);
  overflow: hidden;
}

// slick slider css overrides

.slick-container {
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots li button {
}

.slick-dots li button:before {
  font-size: 1.5rem;
  color: #fff;
}

.slick-dots li button:before {
  font-size: 1.5rem;
  color: #fff;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
