.latest-news-header {
  @include top-sub-heading;
}

.latest-news {
  display: grid;
  row-gap: 30px;
  grid-template-columns: 1fr;
  padding-top: 0;
  padding-bottom: 35px;

  @include mq($mq-s) {
    padding: 0 35px 35px;
  }
  header {
    position: relative;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 0;
    column-gap: 30px;
    row-gap: 0;
    overflow: hidden;
  }

  @media screen and (min-width: 1260px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
  }

  &__card-image {
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  &__card-tooltip {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 2px 10px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }

  &__card {
    margin-top: 10px;
    transition: transform 0.5s ease;
    position: relative;
    &-overlay {
      @extend %anchor-overlay;
    }

    &--hide {
      @include mq($mq-s) {
        display: none;
      }

      @include mq($mq-l) {
        display: block;
      }
    }

    &-user {
      display: flex;
      border-top: 1px solid rgba($latest-news-card-text, 0.4);
      margin-top: 30px;
      padding-top: 30px;

      &-icon {
        margin-right: 20px;
      }

      & img {
        border-radius: 50%;
      }

      &-meta-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      &-posted-by {
        font-weight: $font-weight-bold;
        font-size: 14px;
      }

      &-date-posted {
        font-size: 14px;
        color: $latest-news-card-text;
      }
    }

    &-content {
      padding: 30px;
      @extend %card-shadow-border;
      border-radius: 0 0 3px 3px;
      &-heading {
        margin-top: 0;
        font-weight: $font-weight-semi-bold;
        font-size: 16px;
        text-decoration: none;
        @include mq($mq-s) {
          min-height: 48px;
        }
        span {
          font-size: 13px;
          font-weight: $font-weight-regular;
          color: rgba($latest-news-card-span, 0.5);
        }
      }

      &-text {
        font-size: 13px;
        line-height: 1.5;
        padding-bottom: 15px;
        margin-top: 0;
        color: $latest-news-card-text;
        min-height: 78px;
      }

      &-btn {
        @extend %std-button;
      }
    }

    &--blue-theme {
      .latest-news {
        &__card-tooltip {
          background-color: $latest-news-card-blue-theme;
        }
        &__card-content-heading a {
          color: $latest-news-card-blue-theme;
          text-decoration: none;
        }

        &__card-content-btn {
          background-color: $latest-news-card-blue-theme;
        }
      }
    }
    &--grey-theme {
      .latest-news {
        &__card-tooltip {
          background-color: $latest-news-card-grey-theme;
        }
        &__card-content-heading a {
          color: $latest-news-card-grey-theme;
          text-decoration: none;
        }
        &__card-content-btn {
          background-color: $latest-news-card-grey-theme;
        }
      }
    }

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__bottom-nav {
    @include bottom-sub-heading;
    padding-top: 0.5rem;
  }
}
