@include mq($mq-s) {
  .inner-container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@include mq($mq-m) {
  .inner-container {
    max-width: 960px;
  }
}

@include mq($mq-l) {
  .inner-container {
    max-width: 1170px;
  }
}
