.full-width-container {
  background-color: white;
}

.inner-container {
  padding: 0 px-to-rem(15px);
  max-width: $inner-max-width;
}

@include mq($mq-s) {
  .inner-container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@include mq($mq-m) {
  .inner-container {
    max-width: 970px;
  }
}

@include mq($mq-l) {
  .inner-container {
    max-width: 1170px;
  }
}
