.main-nav {
  &__item {
    flex: 1;

    &:hover {
      .main-nav {
        &__item {
          &-sub-menu {
            display: block;
          }
          &-container {
            &-icon {
              color: $white;
            }
          }
        }
      }
    }

    &-container {
      @extend %flex-h-v-center-col;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 20px 0;
      position: relative;
      &-small-text {
        font-size: 0.8rem;
      }
      &-large-text {
        font-size: 1.1rem;
      }

      &-icon {
        margin-bottom: 10px;
      }
    }

    &-sub-menu {
      display: none;
      z-index: 10;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;

      color: white;
    }

    &--bespoke-software {
      .main-nav {
        &__item {
          &-container {
            &-icon {
              color: $services-bs;
            }
          }
        }
      }
      &:hover {
        background-color: $services-bs;
        .main-nav {
          &__item {
            &-sub-menu {
              background-color: $services-bs-sub-menu;
            }
            &-container {
              &::after {
              }
            }
          }
        }
      }
    }
    &--it-support {
      .main-nav {
        &__item {
          &-container {
            &-icon {
              color: $services-is;
            }
          }
        }
      }
      &:hover {
        background-color: $services-is;
        .main-nav {
          &__item {
            &-sub-menu {
              background-color: $services-is-sub-menu;
            }
            &-container {
              &::after {
              }
            }
          }
        }
      }
    }
    &--digital-marketing {
      .main-nav {
        &__item {
          &-container {
            &-icon {
              color: $services-dm;
            }
          }
        }
      }
      &:hover {
        background-color: $services-dm;
        .main-nav {
          &__item {
            &-sub-menu {
              background-color: $services-dm-sub-menu;
            }
            &-container {
              &::after {
              }
            }
          }
        }
      }
    }
    &--telecoms-services {
      .main-nav {
        &__item {
          &-container {
            &-icon {
              color: $services-ts;
            }
          }
        }
      }
      &:hover {
        background-color: $services-ts;
        .main-nav {
          &__item {
            &-sub-menu {
              background-color: $services-ts-sub-menu;
            }
            &-container {
              &::after {
              }
            }
          }
        }
      }
    }
    &--web-design {
      .main-nav {
        &__item {
          &-container {
            &-icon {
              color: $services-wd;
            }
          }
        }
      }
      &:hover {
        background-color: $services-wd;
        .main-nav {
          &__item {
            &-sub-menu {
              background-color: $services-wd-sub-menu;
            }
            &-container {
              &::after {
              }
            }
          }
        }
      }
    }
    &--cyber-security {
      .main-nav {
        &__item {
          &-container {
            &-icon {
              color: $services-cs;
            }
          }
        }
      }
      &:hover {
        background-color: $services-cs;
        .main-nav {
          &__item {
            &-sub-menu {
              background-color: $services-cs-sub-menu;
            }
            &-container {
              &::after {
              }
            }
          }
        }
      }
    }
    &--developer-training {
      .main-nav {
        &__item {
          &-container {
            &-icon {
              color: $services-dt;
            }
          }
        }
      }
      &:hover {
        background-color: $services-dt;
        .main-nav {
          &__item {
            &-sub-menu {
              background-color: $services-dt-sub-menu;
            }
            &-container {
              &::after {
              }
            }
          }
        }
      }
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    @extend %reset-ul;
  }
}

.submenu-nav {
  padding: 50px 0;
  &__title {
    font-size: 32px;
    font-weight: $font-weight-regular;
    line-height: 1.1;
    margin: 5px 0 35px;
  }
  &__items {
    @extend %reset-ul;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  &__item {
    width: 33%;
    padding-bottom: 30px;
  }
  &__item-container {
    @extend %reset-anchor-text;
    display: flex;
    font-size: 20px;
    &:hover .submenu-nav__text {
      text-decoration: underline;
    }
  }
  &__icon {
    margin-right: 10px;
  }
}

.full-width-container--main-nav {
  background-color: $main-nav-bg;
  position: relative;
  display: none;
  @include mq($mq-m) {
    display: block;
  }
}
