.main-content {
  position: relative;
  transition: all 0.5s;

  &.menu-open {
    transform: translateX(-275px);
    overflow: hidden;
  }

  @include mq($mq-m) {
    &.menu-open {
      transform: translateX(-350px);
      overflow: hidden;
    }
  }
}
