.top-nav {
  padding: 20px 15px;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__main {
    display: flex;
    align-items: center;
  }

  &__logo-container {
    margin-right: auto;
  }

  &__logo {
    margin-right: auto;
    @include top-nav-logo-size(xs);
    @include mq($mq-s) {
      @include top-nav-logo-size(s);
    }
    @include mq($mq-m) {
      @include top-nav-logo-size(m);
    }
    @include mq($mq-l) {
      @include top-nav-logo-size(l);
    }
  }

  &__phone-icon {
    margin-left: 20px;
    @include mq($mq-s) {
      display: none;
    }
  }

  &__hamburger {
    order: 4;
    background-color: $base-font-color;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    margin-left: 20px;
    height: 56px;
    &:hover {
      cursor: pointer;
      background-color: $baltic-sea;
    }

    &-inner-container {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &-bar,
    &-bar::after,
    &-bar::before {
      display: inline-block;
      height: 4px;
      width: 33px;
      background-color: white;
    }

    &-bar {
      position: relative;
    }

    &-bar::before {
      content: "";
      position: absolute;
      left: 0;
      top: -10px;
    }

    &-bar::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
    }
  }
}

.mobile-search {
  display: flex;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  &__input {
    @extend %top-nav-search-input;
    @include input-hide-focus;
  }
  &__btn {
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    font-weight: $font-weight-semi-bold;
  }
  @include mq($mq-s) {
    display: none;
  }
}

.search {
  display: none;

  @include mq($mq-s) {
    display: flex;
  }

  @include mq($mq-m) {
    display: none;
  }

  @include mq($mq-l) {
    display: flex;
    width: 19rem;
    order: 3;
  }

  &__input {
    padding-left: 15px;
    border: 1px solid #ccc;
    @extend %top-nav-search-input;
    &:focus {
      border-color: #5bc0de;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
    }
    @include mq($mq-m) {
      display: none;
    }

    @include mq($mq-l) {
      display: block;
    }
  }

  &__btn {
    @extend %top-nav-search-btn;
    &--standalone {
      display: none;

      @include mq($mq-m) {
        border-radius: 3px;
        display: block;
      }

      @include mq($mq-l) {
        display: none;
      }
    }
  }

  &__std-btn {
    display: none;
    @extend %std-button;
    font-size: 18px;
    padding: 16.5px 15px;
    margin-right: 20px;
    background-color: black;
    @include mq($mq-m) {
      display: block;
    }
    &-icon {
      display: inline-block;
      margin-right: 0.5rem;
    }
    &--support {
      background-color: $windows-blue;
      &:hover {
        background-color: #2a6ec6;
        border-color: #2665b5;
      }
    }

    &--contact {
      background-color: $stardust;
      &:hover {
        background-color: #84858f;
        border-color: #797a85;
      }
    }
  }

  &__icon {
    color: $white;
  }
}

.full-width-container--top-nav {
  background-color: $white;
}
