// variables

//colors
$tealish-blue: #323544;
$ebony-clay: #212330;
$denim: #3b5998;
$french-blue: #0077b5;
$cerulean: #00aced;
$pink-lemonade: #d93175;
$light-grey: #ddd;

$main-footer-background: $tealish-blue;
$bottom-footer-background: $ebony-clay;
$newsletter-background: $light-grey;

$btn-bottom-footer: $ebony-clay;
$btn-social-bg: $ebony-clay;
$btn-facebook-hover: $denim;
$btn-linkedin-hover: $french-blue;
$btn-twitter-hover: $cerulean;
$btn-insta-hover: $pink-lemonade;

// font
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$base-font-size: 16px;
// layout
$inner-max-width: 1260px;

// media queries

$mq-xs: 480px;
$mq-s: 768px;
$mq-m: 992px;
$mq-l: 1260px;
