// variables

//colors
$white: #fff;
$tealish-blue: #323544;
$ebony-clay: #212330;
$denim: #3b5998;
$french-blue: #0077b5;
$cerulean: #00aced;
$pink-lemonade: #d93175;
$light-grey: #ddd;
$ship-grey: #333645;
$baltic-sea: #22242e;
$cinder: #191a22;
$windows-blue: #4183d7;
$greyesh-blue: #67809f;
$ironside-grey: #666666;
$dark-mint: #2ecc71;
$dark-coral: #d64541;
$dark-lilac: #926fb1;
$red-pink: #f62459;
$chestnut-red: #ce4125;
$jet-grey: #526781;
$mid-blue: #286abd;
$clover-green: #25a25a;
$dark-pastel-red: #bc2c28;
$dark-lavender: #79539a;
$cherry: #de093f;
$terracotta: #a3331d;
$stardust: #999aa2;
$gunsmoke: #7e808a;

// footer
$main-footer-background: $tealish-blue;
$bottom-footer-background: $ebony-clay;
$btn-bottom-footer: $ebony-clay;
$btn-social-bg: $ebony-clay;
$btn-facebook-hover: $denim;
$btn-linkedin-hover: $french-blue;
$btn-twitter-hover: $cerulean;
$btn-insta-hover: $pink-lemonade;

// newsletter

$newsletter-background: $light-grey;
$newsletter-btn-primary: $ship-grey;
$newsletter-btn-hover: $baltic-sea;
$newsletter-btn-hover-border: $cinder;
$newsletter-checkbox-border: $ship-grey;
$newsletter-checkbox-bg: $ship-grey;
$newsletter-font-color: $ship-grey;

// latest-news

$latest-news-card-blue-theme: $windows-blue;
$latest-news-card-grey-theme: $greyesh-blue;
$latest-news-card-card-z-index: 5;
$latest-news-card-text: $ironside-grey;
$latest-news-card-span: $ship-grey;

//
$services-white: $white;
$services-bs: $greyesh-blue;
$services-bs-sub-menu: $jet-grey;
$services-is: $windows-blue;
$services-is-sub-menu: $mid-blue;
$services-dm: $dark-mint;
$services-dm-sub-menu: $clover-green;
$services-ts: $dark-coral;
$services-ts-sub-menu: $dark-pastel-red;
$services-wd: $dark-lilac;
$services-wd-sub-menu: $dark-lavender;
$services-cs: $red-pink;
$services-cs-sub-menu: $cherry;
$services-dt: $chestnut-red;
$services-dt-sub-menu: $terracotta;

// top nav

$topnav-search-btn: $stardust;
$topnav-search-btn-hover: $gunsmoke;
$support-btn: $windows-blue;
$support-btn-hover: $windows-blue;
$contact-btn: $stardust;
$contact-btn-hover: $windows-blue;

// main-nav
$main-nav-bg: $ship-grey;

// hero

$hero-btn-primary: $dark-lilac;

// font
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$base-font-size: 16px;
$base-font-color: #333645;

// layout
$inner-max-width: 1260px;

// media queries

$mq-xs: 480px;
$mq-s: 768px;
$mq-m: 992px;
$mq-l: 1260px;
