// variables

//colors
$tealish-blue: #323544;
$ebony-clay: #212330;
$denim: #3b5998;
$french-blue: #0077b5;
$cerulean: #00aced;
$pink-lemonade: #d93175;
$light-grey: #ddd;
$ship-grey: #333645;
$baltic-sea: #22242e;
$cinder: #191a22;

// footer
$main-footer-background: $tealish-blue;
$bottom-footer-background: $ebony-clay;
$btn-bottom-footer: $ebony-clay;
$btn-social-bg: $ebony-clay;
$btn-facebook-hover: $denim;
$btn-linkedin-hover: $french-blue;
$btn-twitter-hover: $cerulean;
$btn-insta-hover: $pink-lemonade;

// newsletter

$newsletter-background: $light-grey;
$newsletter-btn-primary: $ship-grey;
$newsletter-btn-hover: $baltic-sea;
$newsletter-btn-hover-border: $cinder;
$newsletter-checkbox-border: $ship-grey;
$newsletter-checkbox-bg: $ship-grey;
$newsletter-font-color: $ship-grey;

// font
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$base-font-size: 16px;
$base-font-color: #333645;

// layout
$inner-max-width: 1260px;

// media queries

$mq-xs: 480px;
$mq-s: 768px;
$mq-m: 992px;
$mq-l: 1260px;
